<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Theater</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/theaters/<%=theater._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="theater[title]" value="<%=theater.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="title" name="theater[location]" value="<%=theater.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Theater Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="theater[price]" value="<%=theater.price%>" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="theater[description]" required><%=theater.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
             <!-- TO DO: Check for update to bs-custom-file-input -->
             <label>Upload Images</label>
             <div class="input-group mb-3">
                 <input type="file" class="form-control" id="image" name="image" multiple>
                 <label class="input-group-text" for="image">Upload</label>
             </div>
             <div class="mb-3">
                <% theater.images.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%= i %>">Delete?</label>
                <% }) %>
             </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Theater</button>
            </div>
        </form>
        <a href="/theaters/<%=theater._id%>">Back to Theater</a>
    </div>
</div>