<% layout('/layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Theaters</h1>
<ul>
    <% for (let theater of theaters) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (theater.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=theater.images[0].url%>">
                    <% } else { %>
                    <img class="img-fluid" alt="" src="https://images.pexels.com/photos/4722577/pexels-photo-4722577.jpeg">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%=theater.title%></h5>
                        <p class="card-text"><%=theater.description%></p>
                        <p class="card-text">
                            <small class="text-muted"><%=theater.location%></small>
                        </p>
                        <a href="/theaters/<%=theater._id%>" class="btn btn-primary">View <%=theater.title%></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</ul>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const theaters = {features: <%- JSON.stringify(theaters) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>